# -*- coding: utf-8 -*-
# vim: ft=yaml
aegir:
  use_upstream_repo: true

  pkg: aegir3
  user: aegir
  group: aegir
  homedir: /var/aegir

  hostmaster:
    site: localhost
    db_host: localhost
    db_user: aegir
    db_password: YouBetterChangeThis
    email: root
    # One of apache2, nginx
    webserver: apache2
    modules:
      # General format is:
      # module_name:
      #   url: https://url/to/obtain/the/module
      #   target: /path/to/the/place/where/the/module/will/be/installed
      #   sites:           # optional list of sites to which the module will be applied
      #                    # defaults to 'hostmaster'
      #     - a_site
      #     - b_site
      #   install_command: optional_command to install the module. If not specified,
      #                    drush @<site> pm-enable -y <module_name>
      #                    will be applied to each site in <sites>. 
      #   test_command: optional command to test the module is already installed. If not specified,
      #                    drush @<site> pm-info --fields=status <module_name> | grep "Status   :  enabled"
      #                    will be used for each site in <sites>.
      hosting_external:
        url: https://git.drupal.org/sandbox/mpv/2984207.git
        branch: 7.x-3.x
        target: /var/aegir/hostmaster-7.x-3.151/sites/all/modules/hosting_external
      provision_extra_sync:
        url: https://git.drupal.org/sandbox/mpv/2985693.git
        branch: 7.x-3.x
        target: /var/aegir/.drush/provision_extra_sync
        install_command: 'drush cc drush --nocolor'
        test_command: 'ls ~aegir/.drush/provision_extra_sync/README.md'
      hosting_apache_https: {}
      hosting_certificate: {}
      hosting_clone: {}
      hosting_http_basic_auth: {}
      hosting_https: {}
    patches:
      letsencrypt_context:
        path: /var/aegir/hostmaster-7.x-3.151/profiles/hostmaster/modules/aegir/hosting_https
        source: https://www.drupal.org/files/issues/2018-07-31/wrong_letsencrypt_context_properties-2988639-4.patch
        args: '-p1'
        verification: test $(sha256sum /var/aegir/hostmaster-7.x-3.151/profiles/hostmaster/modules/aegir/hosting_https/submodules/letsencrypt/drush/Provision/Service/Certificate/LetsEncrypt.php |cut -f 1 -d ' ' ) = '21faeacdc0d84c011d7d77a4730ffd6f48f49a27695de784e98640f81e654e97'
      letsencrypt_permissions:
        path: /var/aegir/hostmaster-7.x-3.151/profiles/hostmaster/modules/aegir/hosting_https
        source: https://www.drupal.org/files/issues/2018-03-24/2952573-hook-permissions_2.patch
        args: '-p1'
        verification: test $(sha256sum /var/aegir/hostmaster-7.x-3.151/profiles/hostmaster/modules/aegir/hosting_https/submodules/letsencrypt/drush/Provision/Service/Certificate/LetsEncrypt.php |cut -f 1 -d ' ' ) = '21faeacdc0d84c011d7d77a4730ffd6f48f49a27695de784e98640f81e654e97'
      provision_drupal_settings_6:
        path: /usr/share/drush/commands/provision
        source: https://cgit.drupalcode.org/provision/patch/?id=7bf972c539d1ccbec79e8faa727a123553ad7cd8
        args: '-p1'
        verification: test $(sha256sum /usr/share/drush/commands/provision/Provision/Config/Drupal/provision_drupal_settings_6.tpl.php |cut -f 1 -d ' ' ) = '5f6a45bab4d8ec97d113734fb65bd654ad2a177d23f72ecc9f6cb91ab991e9c0'
      provision_drupal_settings_7:
        path: /usr/share/drush/commands/provision
        source: https://cgit.drupalcode.org/provision/patch/?id=9f909617352a98f91358fdda80fb24e12b5a803d
        args: '-p1'
        verification: test $(sha256sum /usr/share/drush/commands/provision/Provision/Config/Drupal/provision_drupal_settings_7.tpl.php |cut -f 1 -d ' ' ) = '4c5a0f2c59ba43ac49d60c1872e69824806a9aca61af33620923458a929f7082'
